# The MySQL database server configuration file.
# This is all tuned for minimal memory and maximum disregard for data retention.
[mysqld]
skip-networking
socket                         = /run/mysqld/mysqld.sock
default-storage-engine         = InnoDB
performance-schema             = off

# MyISAM #
key-buffer-size                = 8
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 64M
max-connect-errors             = 1000000
wait-timeout                   = 1800
connect-timeout                = 10

# CACHES AND LIMITS #
bulk-insert-buffer-size        = 0
max-connections                = 50
max-user-connections           = 50
max-heap-table-size            = 32M
max-heap-table-size            = 1M
net-buffer-length              = 4K
open-files-limit               = 102400
query-cache-size               = 32M
query-cache-limit              = 10M
query-cache-type               = 1
join-buffer-size               = 1M 
read-buffer-size               = 1M 
read-rnd-buffer-size           = 1M 
sort-buffer-size               = 2M 
sync-frm                       = 0
table-definition-cache         = 4096
table-open-cache               = 10240
thread-cache-size              = 0
thread-stack                   = 131072
tmp-table-size                 = 16M
skip-external-locking

# INNODB #
innodb-sort-buffer-size        = 2M
innodb-buffer-pool-size        = 64M
innodb-file-per-table          = 1
innodb-flush-log-at-trx-commit = 0
innodb-flush-method            = O_DIRECT_NO_FSYNC
innodb-log-file-size           = 64M
innodb-log-files-in-group      = 2
innodb-checksum-algorithm      = NONE
innodb-doublewrite             = 0
innodb-flush-log-at-timeout    = 60
innodb-flush-neighbors         = 0
innodb-ft-cache-size           = 1600000
innodb-ft-total-cache-size     = 32000000
innodb-max-dirty-pages-pct     = 70
innodb-thread-concurrency      = 4

[mysql]
socket                         = /run/mysqld/mysqld.sock
no-auto-rehash
